<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zjh.tijian.mapper.OverallResultMapper" >
  <resultMap id="BaseResultMap" type="top.zjh.tijian.pojo.OverallResult" >
    <id column="orId" property="orId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    orId, title, content, orderId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from overallresult
    where orId = #{orId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from overallresult
    where orId = #{orId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.zjh.tijian.pojo.OverallResult" >
    insert into overallresult (orId, title, content, 
      orderId)
    values (#{orId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.zjh.tijian.pojo.OverallResult" >
    insert into overallresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orId != null" >
        orId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orId != null" >
        #{orId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.zjh.tijian.pojo.OverallResult" >
    update overallresult
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=INTEGER},
      </if>
    </set>
    where orId = #{orId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.zjh.tijian.pojo.OverallResult" >
    update overallresult
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=INTEGER}
    where orId = #{orId,jdbcType=INTEGER}
  </update>
</mapper>